/* Reset */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    display: block;
}

body {
    background: #fff;
    /* color: #000; */

    overflow: visible !important;
    /* background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%); */
    background: linear-gradient(90deg, #085078 10%, #85d8ce 90%);
}

div {
    display: block;
}

a,
span {
    display: inline-block;
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}


/* Our styles */
wrapper {
    display: block;
}

header {
    padding: 2vw;
    /* border-bottom: 1px solid #000; */
}
header>banner {
    display: block;
    text-align: center;
}
header>banner span {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 2vw;
    text-transform: uppercase;

}
main {
    display: block;
}

topics {
    display: block;
}
topics select {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5vw;
    font-size: 1vw;
    line-height: 1vw;
    text-align: center;
}
topics select option {
    color: #f00;
    font-size: 1vw;
    font-family: monospace;
    line-height: 1vw;
}

truth {
    display: none;
}

speech {
    display: block;
    margin-top: 1vw;
}
speech value {
    display: block;
    margin: 0 auto;
    width: 66.67%;
    /* padding: 1vw; */
    text-align: left;
    /* border: none; */
    /* border-bottom: 1px solid #000; */
}
speech value character {
    display: inline-block;
    vertical-align: top;
    border: 1px solid transparent;
    height: calc(1.5vw + 2px);
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    line-height: 1.5vw;
}
speech value character.line-feed {
    /* border: 1px solid transparent; */
    display: none;
}
speech value character.cursor {
    display: inline-block;
    border: 1px solid #fff;
    animation: blink 0.77s linear infinite;
}
@keyframes blink {
    /* 0% {
        border-color: rgba( 255, 255, 255, 0);
    } */
    50% {
        border-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        border-color: rgba(255, 255, 255, 1);
    }
  }
speech value character.invalid {
    border: 1px solid #ff0000;
}
speech value character.valid {
    border: 1px solid transparent;
}

response {
    display: block;
    margin-top: 2vw;
}

response textarea {
    display: block;
    margin: 0 auto;
    width: 66.67%;
    height: 20vw;
    padding: 1.75vw;
    border: 1px solid #fff;
    border-radius: 1.75vw;
    background: none;
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    text-align: left;
    /* border: none; */
    /* letter-spacing: 0.25vw; */
}

statistics {
    display: block;
    text-align: center;;
}
statistics progressbar {
    display: block;
}
statistics progressbar characterscounter {
    border-radius: 1vw;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}

statistics unitprogress {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
statistics unitprogress heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitprogress characterscounter,
statistics unitprogress characterspercentagecounter,
statistics unitprogress hitcounter,
statistics unitprogress hitpercentagecounter,
statistics unitprogress misscounter,
statistics unitprogress misspercentagecounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitprogress label,
statistics unitprogress value,
statistics unitprogress total,
statistics unitprogress span {
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}

statistics unitoverall {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
statistics unitoverall heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitoverall shotcounter,
statistics unitoverall hitcounter,
statistics unitoverall hitpercentagecounter,
statistics unitoverall misscounter,
statistics unitoverall misspercentagecounter,
statistics unitoverall amendcounter,
statistics unitoverall amendpercentagecounter,
statistics unitoverall othercounter,
statistics unitoverall otherpercentagecounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitoverall label,
statistics unitoverall value,
statistics unitoverall total,
statistics unitoverall span {
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}

statistics globaloverall {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
statistics globaloverall heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics globaloverall shotcounter,
statistics globaloverall hitcounter,
statistics globaloverall hitpercentagecounter,
statistics globaloverall misscounter,
statistics globaloverall misspercentagecounter,
statistics globaloverall amendcounter,
statistics globaloverall amendpercentagecounter,
statistics globaloverall othercounter,
statistics globaloverall otherpercentagecounter,
statistics globaloverall unitcounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics globaloverall label,
statistics globaloverall value,
statistics globaloverall total,
statistics globaloverall span {
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}
