/* Reset */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    display: block;
}

body {
    background: #fff;
    /* color: #000; */
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    text-align: center;
    font-size: 0;

    overflow: visible !important;
    /* background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%); */
    background: linear-gradient(90deg, #085078 10%, #85d8ce 90%);
}

div {
    display: block;
}

a,
span {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}


/* Our styles */
wrapper {
    display: block;
}

header {
    padding: 2vw;
    /* border-bottom: 1px solid #000; */
}

header>banner {
    display: block;
}

header>banner span {
    margin: 0 auto;
    font-size: 2vw;
    text-transform: uppercase;
}

main {
    display: block;
}

truth {
    /* display: none; */
}

speech {
    display: block;
}
speech value {
    display: inline-block;
    width: 66.67%;
    padding: 1vw;
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    text-align: center;
    /* border: none; */
    /* border-bottom: 1px solid #000; */
}
speech value span {
    margin-left: 5px;
    border-bottom: 1px solid transparent;
}
speech value span.cursor {
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    text-align: center;
    border-bottom: 1px solid #fff;
}
speech value span.invalid {
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    text-align: center;
    border-bottom: 1px solid #ff0000;
}

speech value span.valid {
    background: #00ff00;
    color: #fff;
}

response {
    display: block;
    margin-top: 2vw;
}

response textarea {
    display: inline-block;
    width: 66.67%;
    height: 20vw;
    padding: 1.75vw;
    border: 1px solid #fff;
    border-radius: 1.75vw;
    background: none;
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    text-align: center;
    /* border: none; */
    letter-spacing: 0.25vw;
}


progressbar {
    display: block;
}
progressbar characterscounter {
    display: block;
    border-radius: 1vw;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}

unitprogress {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
unitprogress heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
unitprogress characterscounter,
unitprogress hitcounter,
unitprogress hitpercentagecounter,
unitprogress misscounter,
unitprogress misspercentagecounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}

unitoverall {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
unitoverall heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
unitoverall shotcounter,
unitoverall hitcounter,
unitoverall hitpercentagecounter,
unitoverall misscounter,
unitoverall misspercentagecounter,
unitoverall amendpercentagecounter,
unitoverall amendcounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}

globaloverall {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
globaloverall heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
globaloverall shotcounter,
globaloverall hitcounter,
globaloverall hitpercentagecounter,
globaloverall misscounter,
globaloverall homeworkcounter {
        display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
