/* Reset */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    display: block;
}

body {
    font-size: 0;

    overflow: visible !important;
}

div {
    display: block;
}

a,
span {
    display: inline-block;
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}


/* Our styles */
wrapper {
    display: block;
}
wrapper background {
    content: "";
    position: fixed;
    background: linear-gradient(45deg, rgb(112, 201, 255) 10%, rgb(0, 158, 217) 80%, rgb(248, 255, 223) 100%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

home {
    display: block;
}

header {
    padding: 2vw;
    /* border-bottom: 1px solid #000; */
}
header heading {
    display: block;
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
header heading {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: monospace;
    font-size: 2vw;
    text-transform: uppercase;
}
@media screen and (max-aspect-ratio: 13/10) {
    header {
        padding: 4vw;
        /* border-bottom: 1px solid #000; */
    }
    header heading {
        font-size: 4vw;
    }
}

main {
    display: block;
    position: relative;
}

menu {
    position: absolute;
    display: block;
    top: 2.5vw;
    left: 2.5vw;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
menu menubutton {
    display: inline-block;
    cursor: pointer;
}
menu menubutton icon {
    display: block;
    width: 3vw;
    height: 3vw;
    color: #fff;
    font-family: monospace;
    font-size: 3vw;
    line-height: 1;
    text-align: center;
}
@media screen and (max-aspect-ratio: 13/10) {
    menu menubutton icon {
        width: 6vw;
        height: 6vw;
        font-size: 6vw;
    }
}

menuswitch {
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
}
menuswitch label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw * 2 / 3 * 1 / 3);
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
    text-align: center;
    text-transform: uppercase;
}
menuswitch switch {
    display: inline-block;
    vertical-align: middle;
}
switch {
    display: inline-block;
    vertical-align: middle;
    border-radius: 1vw;
    width: calc( 2vw + 2px + 2px );
    height: calc( 1vw + 2px + 2px );
    border: 1px solid #fff;
    padding: 1px;
    cursor: pointer;
}
switch handle {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 0;
}
switch.true handle {
    margin-left: 1vw;
    background: rgba(255, 255, 255, 1.0);
}
@media screen and (max-aspect-ratio: 13/10) {
    menuswitch {
        margin-top: 2vw;
    }
    menuswitch label {
        font-size: 2vw;
    }
    switch {
        border-radius: 2vw;
        padding: 2px;
        width: calc( 4vw + 4px + 2px );
        height: calc( 2vw + 4px + 2px );
    }
    switch handle {
        width: 2vw;
        height: 2vw;
    }
    switch.true handle {
        margin-left: 2vw;
    }
}

menumultiswitch {
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
}
menumultiswitch label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw * 2 / 3 * 1 / 3);
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
    text-align: center;
    text-transform: uppercase;
}
menumultiswitch symbol {
    display: inline-block;
    vertical-align: middle;
    font-family: monospace;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0 1px;
}
menumultiswitch symbol emoji {
    display: inline-block;
    vertical-align: middle;
    height: 1.5vw;
    font-family: monospace;
    font-size: 1.5vw;
    line-height: 1;
}
menumultiswitch symbol.shuffle span {
    display: inline-block;
    vertical-align: middle;
    width: 1vw;
    height: 1vw;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    color: #085078;
    font-family: monospace;
    font-size: 1vw;
    line-height: 1;
    text-align: center;
}
@media screen and (max-aspect-ratio: 13/10) {
    menumultiswitch {
        margin-top: 2vw;
    }
    menumultiswitch label {
        font-size: 2vw;
    }
    menumultiswitch symbol emoji {
        font-size: 3vw;
        height: 3vw;
    }
    menumultiswitch symbol.shuffle span {
        width: 2vw;
        height: 2vw;
        font-size: 2vw;
    }
}

menuselect {
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
}
menuselect .hidden {
    display: none;
}
menuselect label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw * 2 / 3 * 1 / 3);
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
menuselect select {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw * 2 / 3 * 2 / 3 - 1vw - 1vw - 2px - 2px);
    height: calc(1vw + 2px + 2px);
    padding: 1px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5vw;
    font-family: monospace;
    font-size: 1vw;
    line-height: 1;
    /* It's 2021, safari still does not center align the select text. */
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
menuselect select option {
    font-family: monospace;
    font-size: 1vw;
    line-height: 1;
}
menuselect input {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw * 2 / 3 * 2 / 3 - 1vw - 1vw - 2px - 2px);
    height: calc(1vw + 2px + 2px);
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 5vw;
    background: transparent;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    line-height: 1;
    text-align: center;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
menuselect input.loading {
    /* background: #rgba(255, 255, 255, 1.0); */
    background: rgba(255, 255, 255, 0.5);
    animation: pulse 0.77s linear infinite;
}
menuselect input.error {
    background: rgba(255, 100, 100, 1.0);
}
menuselect input::placeholder {
    color: rgba(255, 255, 255, 1.0);
}
menuselect input::-webkit-input-placeholder {
    /* Safari placeholder colors are not dimmed, unlike firefox's. So we dim it here. */
    color: rgba(255, 255, 255, 0.5);
}
menuselect input:disabled {
    border-color: rgba(255, 255, 255, 0.5);
}
menuselect input:disabled::placeholder {
    color: rgba(255, 255, 255, 1.0);
}
@keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }
    25% {
        background: rgba(255, 255, 255, 0.25);
    }
    50% {
        background: rgba(255, 255, 255, 0.0);
    }
    75% {
        background: rgba(255, 255, 255, 0.25);
    }
    100% {
        background: rgba(255, 255, 255, 0.5);
    }
}
menuselect add {
    margin-left: 1vw;
    display: inline-block;
    vertical-align: middle;
    width: calc(1vw + 2px + 2px);
    height: calc(1vw + 2px + 2px);
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1px;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}
@media screen and (max-aspect-ratio: 13/10) {
    menuselect {
        margin-top: 2vw;
    }
    menuselect label {
        font-size: 2vw;
    }

    menuselect select {
        width: calc(100vw * 2 / 3 * 2 / 3 - 2vw - 2vw - 4px - 2px);
        height: calc(2vw + 4px + 2px);
        padding: 2px;
        font-size: 2vw;
    }
    menuselect select option {
        font-size: 2vw;
    }
    menuselect input {
        width: calc(100vw * 2 / 3 * 2 / 3 - 2vw - 2vw - 4px - 2px);
        height: calc(2vw + 4px + 2px);
        padding: 2px;
        font-size: 2vw;
    }
    menuselect add {
        margin-left: 2vw;
        width: calc(2vw + 4px + 2px);
        height: calc(2vw + 4px + 2px);
        padding: 2px;
        font-size: 2vw;
    }
}

menuambienceswitch {
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
}
menuambienceswitch label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw * 2 / 3 * 1 / 3);
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
menuambienceswitch ambiences {
    display: inline-block;
    width: calc(100vw * 2 / 3 * 2 / 3);
    vertical-align: middle;
}
menuambienceswitch ambiences {
    display: inline-block;
    width: calc(100vw * 2 / 3 * 2 / 3);
    vertical-align: middle;
}
menuambienceswitch choice {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1vw;
    width: calc( 1vw + 2px + 2px );
    height: calc( 1vw + 2px + 2px );
    border: 1px solid rgba(255, 255, 255, 1.0);
    border-radius: 1vw;
    padding: 1px;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}
menuambienceswitch choice.active {
    border: 1px solid rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 0.3vw 0.1vw #fff;
}
@media screen and (max-aspect-ratio: 13/10) {
    menuambienceswitch {
        margin-top: 2vw;
        /* Account for choice's margin-top and margin-bottom */
        margin-bottom: -1vw;
    }
    menuambienceswitch label {
        font-size: 2vw;
    }
    menuambienceswitch choice {
        width: calc( 2vw + 4px + 2px );
        height: calc( 2vw + 4px + 2px );
        border-radius: 2vw;
        padding: 2px;
        font-size: 2vw;
        margin-bottom: 1vw;
    }
    menuambienceswitch choice.active {
        box-shadow: 0 0 0.6vw 0.2vw #fff;
    }
}

menuexport {
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
}
menuexport label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw * 2 / 3 * 1 / 3);
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
menuexport download {
    display: inline-block;
    vertical-align: middle;
    height: calc(1vw + 4px + 2px);
    padding: 2px 1vw;
    border: 1px solid #fff;
    border-radius: 999px;
    background: transparent;
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
}
menuexport download:hover {
    background: #fff;
    color: #085078;
}
@media screen and (max-aspect-ratio: 13/10) {
    menuexport {
        margin-top: 2vw;
    }
    menuexport label {
        font-size: 2vw;
    }
    menuexport download {
        height: calc(2vw + 8px + 2px);
        padding: 4px 2vw;
        font-size: 2vw;
    }
}

truth {
    display: none;
}

speech {
    display: block;
    margin-top: 1vw;
}
speech value {
    display: block;
    margin: 0 auto;
    width: calc(100vw * 2 / 3);
    /* padding: 1vw; */
    text-align: left;
    /* border: none; */
    /* border-bottom: 1px solid #000; */
}
speech value character {
    display: inline-block;
    vertical-align: top;
    border: 1px solid transparent;
    height: calc(1.5vw + 2px);
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    line-height: 1;
}
speech value character.line-feed-placeholder {
    border: 1px solid transparent;
}
speech value character.line-feed {
    border: 1px solid transparent;
}
speech value character.cursor {
    display: inline-block;
    border: 1px solid #fff;
    animation: blink 0.77s linear infinite;
}
@keyframes blink {
    /* 0% {
        border-color: rgba( 255, 255, 255, 0);
    } */
    50% {
        border-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        border-color: rgba(255, 255, 255, 1);
    }
  }
speech value character.invalid {
    border: 1px solid #ff0000;
}
speech value character.valid {
    border: 1px solid transparent;
}
@media screen and (max-aspect-ratio: 13/10) {
    speech {
        margin-top: 2vw;
    }
    speech value {
        width: calc(100vw * 5 / 6);
    }
    speech value character {
        height: calc(3vw + 2px);
        font-size: 3vw;
        line-height: 1;
    }
}

response {
    display: block;
    margin-top: 2vw;
}
response textareawrapper {
    display: block;
    margin: 0 auto;
    width: calc(100vw * 2 / 3);
    height: calc(1.5vw * 1.15 * 10 + 2vw * 2 / 3 + 2vw * 2 / 3 + 1px + 1px);
    padding: calc(2vw * 2 / 3);
    border: 1px solid #fff;
    border-radius: 1.75vw;
    cursor: text;
}
response textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background: none;
    color: #fff;
    font-family: monospace;
    font-size: 1.5vw;
    line-height: 1.15;
    text-align: left;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    /* border: none; */
    /* letter-spacing: 0.25vw; */
}
response textarea::placeholder {
    color: rgba(255, 255, 255, 1.0);
}
response textarea::-webkit-input-placeholder {
    /* Safari placeholder colors are not dimmed, unlike firefox's. So we dim it here. */
    color: rgba(255, 255, 255, 0.5);
}
response textarea:disabled {
    border-color: rgba(255, 255, 255, 0.5);
}
response textarea:disabled::placeholder {
    color: rgba(255, 255, 255, 1.0);
}
@media screen and (max-aspect-ratio: 13/10) {
    response {
        margin-top: 4vw;
    }
    response textareawrapper {
        width: calc(100vw * 5 / 6);
        height: calc(3vw * 1.15 * 5 + 4vw * 2 / 3 + 4vw * 2 / 3 + 1px + 1px);
        padding: calc(4vw * 2 / 3);
    }
    response textarea {
        font-size: 3vw;
    }
}

statistics {
    display: block;
    text-align: center;
}
statistics progressbar {
    display: block;
}
statistics progressbar characterscounter {
    border-radius: 1vw;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}

statistics unitprogress {
    display: inline-block;
    vertical-align: top;
    width: 20vw;
}
statistics unitprogress heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitprogress characterscounter,
statistics unitprogress characterspercentagecounter,
statistics unitprogress hitcounter,
statistics unitprogress hitpercentagecounter,
statistics unitprogress misscounter,
statistics unitprogress misspercentagecounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitprogress label,
statistics unitprogress value,
statistics unitprogress total,
statistics unitprogress span {
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}

statistics unitoverall {
    display: inline-block;
    vertical-align: top;
    width: 20vw;
}
statistics unitoverall heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitoverall datetimestart,
statistics unitoverall datetimestopwatch,
statistics unitoverall ratehitpermincounter,
statistics unitoverall shotcounter,
statistics unitoverall hitcounter,
statistics unitoverall hitpercentagecounter,
statistics unitoverall misscounter,
statistics unitoverall misspercentagecounter,
statistics unitoverall amendcounter,
statistics unitoverall amendpercentagecounter,
statistics unitoverall othercounter,
statistics unitoverall otherpercentagecounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics unitoverall label,
statistics unitoverall value,
statistics unitoverall total,
statistics unitoverall span {
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}

statistics globaloverall {
    display: inline-block;
    vertical-align: top;
    width: 20vw;
}
statistics globaloverall heading {
    margin: 2vw;
    display: block;
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics globaloverall datetimestopwatch,
statistics globaloverall shotcounter,
statistics globaloverall ratehitpermincounter,
statistics globaloverall hitcounter,
statistics globaloverall hitpercentagecounter,
statistics globaloverall misscounter,
statistics globaloverall misspercentagecounter,
statistics globaloverall amendcounter,
statistics globaloverall amendpercentagecounter,
statistics globaloverall othercounter,
statistics globaloverall otherpercentagecounter,
statistics globaloverall booklibrarycounter,
statistics globaloverall bookcollectioncounter,
statistics globaloverall bookcounter {
    display: block;
    border-radius: 1vw;
    /* padding: 1.5vw; */
    color: #fff;
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
}
statistics globaloverall label,
statistics globaloverall value,
statistics globaloverall total,
statistics globaloverall span {
    color: #fff;
    font-family: monospace;
    font-weight: normal;
    font-size: 1vw;
}
@media screen and (max-aspect-ratio: 13/10) {
    statistics unitprogress {
        display: block;
        width: calc(100vw * 5 / 6);
        margin: 0 auto;
    }
    statistics unitprogress heading {
        margin: 6vw 6vw calc(6vw * 2 / 3) 6vw;
        font-size: 3vw;
    }
    statistics unitprogress characterscounter,
    statistics unitprogress characterspercentagecounter,
    statistics unitprogress hitcounter,
    statistics unitprogress hitpercentagecounter,
    statistics unitprogress misscounter,
    statistics unitprogress misspercentagecounter {
        display: block;
    }
    statistics unitprogress label,
    statistics unitprogress value,
    statistics unitprogress total,
    statistics unitprogress span {
        font-size: 3vw;
    }

    statistics unitoverall {
        display: block;
        width: calc(100vw * 5 / 6);
        margin: 0 auto;
    }
    statistics unitoverall heading {
        margin: 6vw 6vw calc(6vw * 2 / 3) 6vw;
        font-size: 3vw;
    }
    statistics unitoverall datetimestart,
    statistics unitoverall datetimestopwatch,
    statistics unitoverall ratehitpermincounter,
    statistics unitoverall shotcounter,
    statistics unitoverall hitcounter,
    statistics unitoverall hitpercentagecounter,
    statistics unitoverall misscounter,
    statistics unitoverall misspercentagecounter,
    statistics unitoverall amendcounter,
    statistics unitoverall amendpercentagecounter,
    statistics unitoverall othercounter,
    statistics unitoverall otherpercentagecounter {
        display: block;
    }
    statistics unitoverall label,
    statistics unitoverall value,
    statistics unitoverall total,
    statistics unitoverall span {
        font-size: 3vw;
    }


    statistics globaloverall {
        display: block;
        width: calc(100vw * 5 / 6);
        margin: 0 auto;
    }
    statistics globaloverall heading {
        margin: 6vw 6vw calc(6vw * 2 / 3) 6vw;
        font-size: 3vw;
    }
    statistics globaloverall datetimestopwatch,
    statistics globaloverall shotcounter,
    statistics globaloverall ratehitpermincounter,
    statistics globaloverall hitcounter,
    statistics globaloverall hitpercentagecounter,
    statistics globaloverall misscounter,
    statistics globaloverall misspercentagecounter,
    statistics globaloverall amendcounter,
    statistics globaloverall amendpercentagecounter,
    statistics globaloverall othercounter,
    statistics globaloverall otherpercentagecounter,
    statistics globaloverall booklibrarycounter,
    statistics globaloverall bookcollectioncounter,
    statistics globaloverall bookcounter {
        display: block;
    }
    statistics globaloverall label,
    statistics globaloverall value,
    statistics globaloverall total,
    statistics globaloverall span {
        font-size: 3vw;
    }
}

footer {
    margin-top: 2vw;
    margin-bottom: 2vw;
}
footer icons {
    display: block;
    text-align: center;
}
footer icons > a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 0.5vw;
    padding: 0.1vw;
    font-size: 0;
}
footer icons > a > svg {
    width: 3vw;
    fill: #fff;
}
@media screen and (max-aspect-ratio: 13/10) {
    footer {
        margin-top: 6vw;
        margin-bottom: 4vw;
    }
    footer icons > a {
        border-radius: 1vw;
        padding: 0.2vw;
    }
    footer icons > a > svg {
        width: 6vw;
        fill: #fff;
    }
}

environment {
    display: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
environment main {
    display: block;
    padding: 0 calc(100vw * 1 / 6);
}
@media screen and (max-aspect-ratio: 13/10) {
    environment header heading {
        font-size: 4vw;
    }
}
